/* Define the color scheme */
:root {
    --tiffany-blue: #75ddddff;
    --blue-munsell: #508991ff;
    --prussian-blue: #172a3aff;
    --midnight-green: #004346ff;
    --mint: #09bc8aff;
    --thistle: #e2cfeaff;
    --harvest-gold: #eca400ff;
  }
  
  /* Highlight and error styles for text input */
  .highlight {
    color: white;
  }

  .passed {
    color: var(--tiffany-blue);
  }

  .text-error {
    color: #e74c3c;
    text-decoration: underline;
  }
  
  .error {
    background-color: lightcoral;
    border-color: #e74c3c;
  }

  h1 {
    color: var(--harvest-gold) !important;
  }
  
  .input-container {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1000; /* Ensure it's above the keyboard */
}

/* Adjust the container's behavior on different screen sizes */
@media (min-width: 576px) {
    .input-container {
        padding: 15px;
    }
}

/* Custom CSS to adjust viewport height for mobile devices */
@media (max-width: 576px) {
    body {
        height: 100vh; /* Ensure full viewport height */
        overflow-y: auto; /* Enable scrolling when the keyboard is displayed */
    }
}

  